*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.ipa
*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.png
*.tga
*.vsconfig
*.sln.DotSettings.user

.idea/
.vs/
/Archives/
/Binaries/
/Config/
/Content/
/DerivedDataCache/
/FMODProject/
/Intermediate/
/Saved/

Build/*
!Build/*/
Build/*/**
!/Build/*/PakBlacklist*.txt
!/Build/**/*.ico

/Plugins/*
!/Plugins/ToroUtilities/
/Plugins/ToroUtilities/Binaries/
/Plugins/ToroUtilities/Intermediate/
/Plugins/ToroUtilities/Resources/Test.svg

Backup.Lock