*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.ipa
*.xcodeproj
*.xcworkspace
*.sln
*.slnx
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.png
*.tga
*.vsconfig
*.sln.DotSettings.user

.idea/
.vs/
/Binaries/
/Plugins/
/DerivedDataCache/
/FMODProject/
/Intermediate/
/Saved/

/Config/*
!/Config/DefaultScalability.ini
!/Config/DefaultEngine.ini
!/Config/DefaultGame.ini

/Content/*
!/Content/Blueprints/
!/Content/Data/

Build/*
!Build/*/
Build/*/**
!/Build/*/PakBlacklist*.txt
!/Build/**/*.ico
